# Core dependencies for camera and AI
# run "pip install -r requirements.txt" in terminal to update packages
opencv-python==4.8.1.78
numpy<2
tflite-runtime==2.14.0
mediapipe==0.10.9
RPLCD==1.4.0
smbus2==0.5.0
ioctl==0.2.2
RPi.GPIO==0.7.1